body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9B2D2E; /* Solid red background */
    color: white;
}

header {
    background-color: black;
    padding: 40px 0; 
    text-align: center;
    position: relative;
}

nav {
    position: absolute;
    top: 30px;
    right: 30px;
}

.login-button {
    padding: 10px 20px;
    background-color: #A80000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.centered-text {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
}

.about, .para-text {
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
    max-width: 800px;
}
